.categories{
    display: flex;
    height: 100vh;
    gap: 10px;
    margin: 10px;


    .col{
        flex: 1;
    }

    .coll .row{
        flex: 1;
        height: 100%;
    }

    .col-l{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .row{
        flex: 1;
        display: flex;
        gap: 10px;
        position: relative;
        overflow: hidden;

        button{
            position: absolute;
            background-color: white;
            font-weight: 100;
            color: gray;
            min-width: 100px;
            height: 50px;
            padding: 10px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            text-transform: uppercase;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }








}