@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 3px 0;
    position: relative;
    font-family: 'Ubuntu',sans-serif;
}

.gradient-01 {
    background-image: linear-gradient(
      270deg,
      hsl(107, 76%, 51%) 0%,
      hsl(111, 70%, 73%) 26%,
      hsl(144, 69%, 86%) 39%,
      hsl(131, 92%, 90%) 50%,
      hsl(162, 77%, 81%) 61%,
      hsl(163, 73%, 70%) 74%,
      hsl(157, 76%, 51%) 100%
    );
    filter: blur(125px);
  }


  .hero-gradient {
    background: linear-gradient(
      97.86deg,
      #09ffa5 0%,
      #34c77d 53.65%,
      #34c7b6 100%
    );
  }

  .gradient-02 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;
  
    background: #7aebfb;
    filter: blur(190px);
  }
  
  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .gradient-03 {
    position: absolute;
    width: 304px;
    height: 800px;
    left: 5%;
    top: 20%;
  
    background: rgba(66, 232, 119, 0.35);
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }
  
  .gradient-04 {
    position: absolute;
    width: 304px;
    height: 100vh;
    left: 100%;
    top: 2%;
  
    background: rgba(45, 152, 81, 0.492);
    filter: blur(200px);
    transform: rotate(-53.13deg);
  }
  
  .gradient-05 {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .gradient-06 {
    position: absolute;
    width: 804px;
    height: 200px;
    left: -500%;
   
  
    background: rgba(66, 232, 119, 0.35);
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }
  
  
  .bg-discount-gradient {
    background: linear-gradient(125.17deg, #9ad7a7 0%, #66c18459 100%);
  }

.hero_photo{
    background-image: url(../public/img/hero.png) no-repeat;
    display: flex;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  